*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
#card{
    height: 380px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 30px   ;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position:top;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 80px;
}
#card h5{
    font-size: 25px;
    color: red;
    margin: 0px 100px;
}
#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 400;
    margin: 30px 95px;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer ;
    width: 110px;
}